

<div id="myModel2" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
              <%= form_for @posts do |f| %>
          
               <div class="form-group">
    <label >Name</label><br />
    <%= f.text_field :name,:class => 'form-control',:required=>true %>
  </div>
 <div class="form-group">
    <label >Section</label><br />
    <%= f.text_field :section,:class => 'form-control',:required=>true  %>
  </div>
 <div class="form-group">
    <label >Email</label><br />
    <%= f.text_field :email,:class => 'form-control',:required=>true ,:type=> 'email' %>
  </div>
 <div class="form-group">
    <label >Phone</label><br />
    <%= f.text_field :phone,:class => 'form-control',:required=>true ,:min=>'1000000000', :max=>'9999999999',:type=> 'number' %>
  </div>
  <div class="actions">
      <br>
  <%= f.submit "Save" , :class => 'btn btn-primary btn-sm space' %><%= link_to "Back",posts_path , :class => 'btn btn-primary btn-sm' %>
      
  </div>
          
          <% end %>
  </div>
</div>
