<h3 class="display-3">Student application Ruby on Rails</h3>
<br>
<div class="box container">
 <table class="table">
       <thead class="thead-inverse">
  <tr>
    <th>Name</th>
    <th>Section</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Edit</th>
    <th>Delete</th>
    <th></th>
  </tr>
     </thead>
<tbody>
<% @posts.each do |post| %>
  <tr >
    <td ><%= post.name %></td>
    <td><%= post.section %></td>
    <td><%= post.email %></td>
    <td><%= post.phone %></td>
      <td><%= link_to 'Edit', edit_post_path(post), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModel2'},:class=>'btn btn-primary btn-sm'  %>
</td>
    
    <td><%= link_to 'Delete', post, method: :delete,:class=>'btn btn-primary btn-sm' ,data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
    </tbody>
</table>
</div>
<br />
<%= will_paginate @posts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
<button type="submit" id="registerbutton" data-toggle="modal" data-target="#myModal" class="btn btn-primary btn-sm side1" >Register</button>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for Post.new do |f| %>
          
               <div class="form-group">
    <label >Name</label><br />
    <%= f.text_field :name,:class => 'form-control',:required=>true %>
  </div>
 <div class="form-group">
    <label >Section</label><br />
    <%= f.text_field :section,:class => 'form-control',:required=>true  %>
  </div>
 <div class="form-group">
    <label >Email</label><br />
    <%= f.text_field :email,:class => 'form-control',:required=>true ,:type=> 'email' %>
  </div>
 <div class="form-group">
    <label >Phone</label><br />
    <%= f.text_field :phone,:class => 'form-control',:required=>true ,:min=>'1000000000', :max=>'9999999999',:type=> 'number' %>
  </div>
  <div class="actions">
      <br>
  <%= f.submit "Save" , :class => 'btn btn-primary btn-sm space' %><%= link_to "Back",posts_path , :class => 'btn btn-primary btn-sm' %>
      
  </div>
          
          <% end %>
      </div>
     
    </div>
  </div>
</div>


<div id="myModel2" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>


